# call generate script with --help option to see all options
# call generate script with --config option to use this file:
# python generate.py --config examples/generate.cfg

# set strategy used for simulation scenario
strategy = greedy

# set voltage level for cost calculation
# possible voltage levels: LV, MV, HV
voltage_level = MV

# set nominal power of photovoltaic power plant in kWp
# (necessary for feed-in remuneration in cost calculation)
pv_power = 10

# input files with simulation data
get_timeseries = examples/simulation.csv
get_results = examples/simulation.json

# input file with cost parameters
get_cost_parameters = "examples/price_sheet.json"



