# call generate_schedule script with --help option to see all options
# call generate_schedule script with --config option to use this file:
# python generate_schedule.py --config examples/generate_schedule.cfg

# set files relative to generate_schedule.py
# set input file for grid signal, needed columns: "curtailment", "residual load"
input = grid_signal.csv
# set scenario file for simulation
scenario = examples/scenario.json
# set output file
output = examples/schedule_example.csv

# set the size of the percentiles used to determine charging priorities
priority_percentile = 0.25

# set individual or collective schedule (default: collective)
individual = true

# show flexibility band with schedule
visual = true

# define core standing time during which flexibility is guaranteed
# note: for days off you can provide weekdays during which all cars are available 24h (0 = Monday)
# core_standing_time = {"times":[{"start": [22,0], "end":[5,0]}], "no_drive_days":[6]}
