# call simulate script with --help option to see all options
# call simulate script with --config option to use this file:
# python simulate.py --config examples/simulate.cfg

# set input file
#input = Juli21/simulations/nsm_1.json

# set strategy with options
strategy = balanced_market
strategy_option = [["CONCURRENCY", 1], ["PRICE_THRESHOLD", -1]]

# show plots after simulation
visual = false

# give margin for desired SoC [0.0 - 1.0]
# margin=0.05 means the simulation will not abort if vehicles reach at least 95%% of the desired SOC before leaving.
# margin=1 -> the simulation continues with every positive SOC value, but may fail if trips can not be completed.
margin = 0.15

# generate output file with simulation data
#save_timeseries = Juli21/results/nsm_1.csv
